@media screen and (max-width: 842px /* 800px */) {
    body {
        animation: show-medium 500ms ease !important;
    }

    div#global {
        margin: 0;
        height: auto !important;
        border: none;
        box-shadow: none;
        border-radius: 0;
    }

    div#sections {
        overflow-y: auto;
    }
}

@media screen and (max-width: 575px) {
    body {
        animation: show-narrow 500ms ease !important;
    }

    div#global {
        display: grid !important;
    }

    div#profile {
        border-right: none;
    }

    div#sections {
        overflow: unset !important;
        max-width: unset;
        border-top: 1px solid #d3d3d3;
    }
}

@media screen and (max-height: 608px) and (max-width: 842px) and (min-width: 575px) {
    div#profile div > h1 {
        margin: 0;
        font-size: 1.2em;
    }

    div#profile div > img {
        padding: 0;
        height: 0;
        opacity: 0;
    }
}

@keyframes show-narrow {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes show-medium {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes show-wide {
    0% {
        opacity: 0;
        transform: rotateX(50deg);
    }
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: #1d8d91;
    text-decoration: none;
    transition: color 250ms ease;
}

a:hover {
    color: #1cd8df;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    user-select: none;
    animation: show-wide 800ms ease;
}

body > div {
    margin: auto;
}

#global {
    display: inline-flex;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0px 20px 80px 20px #808080;
    background-color: #ffffff;
}

#profile {
    height: auto;
    min-width: 300px;
    border-right: 1px solid #d3d3d3;
    background-color: #f9f9f9;
}

#profile > div > h1 {
    margin: 0;
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
    transition: font-size 400ms ease;
}

#profile div > img {
    display: flex;
    margin: auto;
    padding-top: 20px;
    border-radius: 50%;
    width: 256px;
    height: 256px;
    transition: height 400ms ease, opacity 400ms ease;
}

#profile ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

#profile ul li {
    display: flex;
    padding-left: 6px;
}

#profile ul li > span {
    margin: auto 10px;
    vertical-align: middle;
    font-size: 0.8em;
}

#profile ul hr {
    margin: 8px 10px;
    padding: 0;
    width: auto;
    border: none;
    border-bottom: 1px solid #d3d3d3;
}

#profile ul li > img {
    margin: 4px;
}

#profile ul li > span {
    margin: auto 0;
    padding: 2px 2px;
    font-size: 1em;
}

#sections {
    margin: 0;
    padding: 10px 20px;
    max-width: 500px;
    background-color: #ffffff;
}

#sections div > p {
    margin: 20px;
}

#sections div > h2 {
    margin: 20px 0;
    font-size: 1.2em;
    font-weight: bold;
}

#sections div:first-child > h2 {
    margin-top: 0;
}

#sections div > ul {
    margin: 5px 20px;
    padding: 8px 10px;
    list-style: none;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    text-shadow: 0 1px #d3d3d3;
    /* background: linear-gradient(to bottom, #f0f0f0, #d3d3d3); */
}

#sections div > ul > :first-child {
    margin-bottom: 8px;
    font-weight: bold;
}

#sections div > ul > li em {
    font-style: italic;
}

#info {
    margin: 20px;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #d3d3d3;
}

