@import url("index.css");

#global {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    /* border: 1px solid #d3d3d3 !important; */
}

#info {
    visibility: hidden;
}
 
#sections {
    padding-right: 0;
}

#sections > div > ul {
    margin-right: 0;
}

